ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    display: flex;
}

.spacer {
    /*tells spacer to use all avaiable space*/
    flex: 1 1 auto;
}

mat-toolbar {
    Position: sticky;
    Position: webkit-sticky;
    Top: 0;
    z-index: 1000;
}



