<!--ngModel is for two way binding and must be added to imports in app.module.ts-->
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSavePost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
            matInput 
            type="text" 
            name="title"
            [ngModel]="post?.title" 
            placeholder="Post Title"
            required minlength="3"
            #title="ngModel" 
            ><!--#title creates a variable that accesses the model metadata for the form-->
            <!--using ngForm.getControl('').invalid should work but required onInit-->
            <mat-error *ngIf="title.invalid" ng-controller="post-create.component">{{ getTitleError() }}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
            matInput 
            type="text" 
            name="content"
            [ngModel]="post?.content"
            rows="3"
            #content="ngModel"
            placeholder="Post Content"
            required
            ></textarea>
            <mat-error *ngIf="content.invalid">This is an invalid message</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="accent" 
            type="submit">
            Save Posts
        </button>
    </form>
</mat-card>

