<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="postWrapper" *ngFor="let post of posts">
  <mat-card class="fadeIn animated">
    <mat-card-header>
      <mat-card-title>{{ post.title }}</mat-card-title>
      <mat-card-subtitle>{{ post.createdByEmail }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.imagePath" [alt]="post.title">
    <mat-card-content>
      <p> 
        {{ post.content }}
      </p>  
    </mat-card-content>
    <mat-card-actions >
      <button *ngIf="userIsAuthenticated" mat-button color="accent">LIKE</button>
      <a *ngIf="userIsAuthenticated && (userId == post.createdBy || userData.admin)" mat-button color="primary" [routerLink]="['edit', post.id]">EDIT</a>
      <button *ngIf="userIsAuthenticated && (userId == post.createdBy || userData.admin)" mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length > 0"></mat-paginator>
<p *ngIf="posts.length == 0 && !isLoading" class="info-text mat-body-1">No posts avaiable</p>