mat-spinner{
    margin: auto;
}

mat-paginator{
    margin: 1rem;
}

mat-card{
    margin: 1rem; 
    width: min(80vw, 400px);
} 

mat-card-actions{
    float: right;
}

.postWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-text {
    text-align: center;
}

